.nav {
	li {
		button {
			position: relative;
			display: block;
			margin: 10px 15px;
		}
	}
}
a:hover{
	text-decoration: none;
}
a:active{
	text-decoration: none;
}
#notification{
	position: fixed;
	background: rgba(255, 235, 59, 0.5);
	color: #795548;
	padding: 10px;
	bottom: 10px;
	left: 0;
}
#formBoard{
	display: none;
}
.boardList{
	height:100px;
	padding:10px;
	height: 80px;
	background: #5bc0de;
	color:#fff;
	font-size:18px;
	text-align:center;
	border-radius: 3px;
	p{
		font-size:12px;
	}
}
.createBoard{
	background: #eee;
	color: #9E9E9E;
	cursor: pointer;
	text-align: center;
	height: 80px;
	border-radius: 3px;
	padding-top: 30px;
}
.createBoard:hover,.createList:hover{
	background: #ccc;
}
.boardList:hover{
	background:#00BCD4;
}
.margin-bottom{
	margin-bottom: 20px;
}
.createList{
	background: #eee;
	color: #9E9E9E;
	cursor: pointer;
	padding-left: 18px;
	height: 40px;
	border-radius: 3px;
	padding-top: 11px;
}
#formAddList{
	width: 100%;
	padding: 5px;
	background: #eee;
	display: none;
	border-radius: 3px;
}
.formAddCard{
	width: 100%;
	padding: 5px;
	/*background: #eee;*/
	display: none;
	border-radius: 3px;
}
.panel-heading{
	cursor: pointer;
}
.createCard{
	color: #9E9E9E;
	cursor: pointer;
	height: 30px;
	text-align: center;
	padding-top: 6px;
}
.createCard:hover{
	background: #eee;
}
.hiden-edit-text{
	background: #eee;
	border: none;
	color: #333;
}
.list{
	min-height: 150px;
}
.highlight{
	background: #DBF6FF;
	border: 1px #ccc dotted;
	min-height: 150px;
	border-radius: 5px;
}
.card-placeholder{
	background: #DBF6FF;
	border: 1px #ccc dotted;
	margin-bottom:10px;
	border-radius: 5px;
	cursor: pointer;
	height: 50px;
}
.card{
	padding: 5px;
	background: #eee;
	margin-bottom:10px;
	border-radius: 5px;
	cursor: pointer;

}
.card:hover{
	background: #ccc;
}
#cardpage{
	width: 100%;
	height: 800px;
	position: fixed;
	z-index: 9999;
	background: rgba(0,0,0,0.8);
	padding: 20px;
	top: 0px;
	left: 0px;
	overflow-y: scroll;
}
#cardpage .container{
	background: #fff;
	padding: 10px;
	border-radius: 10px;
}