<!DOCTYPE html>
<html>
<head>
  <meta name="fragment" content="!">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <title>Todo App</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css" />
  <script src="/socket.io/socket.io.js"></script>
  <script   src="/js/jquery.min.js"></script>
  <script   src="/js/jquery-ui.min.js"></script>
  <script   src="/js/lodash.min.js"></script>
  <!-- <script   src="/js/underscore-min.js"></script> -->
</head>
<body>
  <div id="myApp"></div>
  <script>
    window.INITIAL_STATE = {{{initialState}}}
  </script>
  <script type="text/javascript" src="/js/bundle.js"></script>
  <script type="text/javascript" src="/js/script.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>
